<h1>Category Successfully Created</h1>
<p>The category <%= @category.name %> has been added.</p>

<%= link_to "Back to Categories", categories_path, class: "btn btn-secondary" %>
<%= link_to "Create Another Category", new_category_path, class: "btn btn-primary" %>
