<div class="form-new mt-5">
  <h1>Create a New Category</h1>

  <%= simple_form_for @category do |f| %>
    <%= f.input :name, placeholder: "The category name" %>
    <%= f.input :photo, as: :file, label: "Photo" %>
    <%= f.submit "Create Category", class: "btn btn-warning" %>
  <% end %>

</div>
